.container {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 10px;
}

.container:hover,
.active {
    background-color: #2e374a;
}


.logout {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
    background-color: none;
    border: none;
    width: 100%;
}

.logout:hover {
    background-color: #2e374a;

}